// @import 'picomin.scss';
// @import '../css/myscreen.scss';
// @import '../css/custom.scss';
//
// @import '../mylib/mystyles.scss';
// @import url("chrome://communicator/skin/");
// body {
//     text-align: center;
// }
//
my-flexheader {
    display: flex;
    justify-content: space-around;
}

my-page {
    display: block;
}

my-subpage {
    position: relative;
    border: 1px solid blue;
    display: block;
}

// .nav-fluid {
//     @extend .container-fluid;
//     // margin-top: -5vh;
// }
// @media (min-height:500px) {
//     .nav-fluid {
//         // @extend .container-fluid;
//         // margin-top: -8vh;
//     }
// }
$myblue: blue;
.formcontainer {
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    // border: 1px dotted $myblue; //red; //grey;
    width: 100vw;
    // height: calc(99vh - 210px); // min-height: 200px;
}

.formcontainer1,
.formcontainer2,
.formcontainer3,
.formcontainer4,
.formcontainer5,
.formcontainer6 {
    @extend .formcontainer;
}

.formcontainer2,
.formcontainer4 {
    display: block;
    // height: 600px;
    // justify-content: center;
}

.formcontainer3 {
    height: calc(98vh - 90px);
    font-size: 14px;
    .f3head {
        // background: lightslategrey;
        display: flex;
        color: rgb(70, 226, 55);
        margin-left: 20px;
        div {
            // background: lemonchiffon;
            text-align: left;
        }
    }
}

.pagecontainer {
    display: flex;
}

.borderonly {
    display: none;
    text-align: center;
    border: 1px solid green; //grey;
}

.subpage2,
.subpage3,
.subpage4,
.subpage5,
.subpage6 {
    @extend .borderonly;
}

my-stack {
    display: grid;
    // grid-auto-flow: row;
    // flex-direction: row;
    // display: flex;
    background: rgba(255, 0, 0, 0.315);
    margin: 0;
    padding: 0;
    border: 0;
    width: 60%;
    div:nth-of-type(1n) {
        display: inline-block;
        background: yellow;
        height: 20px;
        width: 30px;
    }
    div:nth-of-type(3n) {
        display: inline-block;
        background: rgb(21, 255, 0);
        height: 20px;
        width: 30px;
    }
}

.myselect {
    width: 60%;
    height: 40px;
    font-size: 20px;
    padding: 2px;
    border: hidden;
    background: #273042fd;
    // background: linear-gradient(to bottom, rgb(155, 163, 182), rgb(200, 24, 24));
    // background-color: #2d2e3a49;
    // max-width: 800px;
    max-width: 400px;
    color: rgb(97, 170, 97);
    border: 1px solid grey;
}

.leftfield {
    display: none;
    white-space: nowrap;
    margin: 10px;
    // width: 100px;
    legend {
        height: 40px;
    }
    label {
        height: 40px;
    }
}

// ----------------  my color themes ------------------
// [data-theme=dark] {
//     --color-th: rgb(7, 189, 189);
// }
//  :root:not([data-theme=dark]) {
//     --color-th: green;
// }
//  :root:not([data-theme=dark]),
// [data-theme=light] {
//     --color-th: rgb(0, 0, 63);
// }
$hcolor: var(--color-th);
// ---------------- end my color themes ------------------
//
.khameleonrow {
    display: none;
}

.table1 {
    // background: linear-gradient(45deg, red 40%, yellow 30%, blue 65%);
    // background: linear-gradient(to bottom, rgb(87, 92, 104), rgb(31, 31, 31));
    background: linear-gradient(to bottom, rgb(68, 72, 83), rgb(66, 66, 82));
    th {
        color: var(--color-th); //$hcolor;
    }
}

.table0 {
    @extend .table1;
    // background: linear-gradient(45deg, red 40%, yellow 30%, blue 65%);
    // width: 100px;
    // min-width: 100px;
    // background: linear-gradient(to bottom, rgb(87, 92, 104), rgb(31, 31, 31));
    // padding-left: 0px;
    // th {
    //     color: cyan;
    // }
    td {
        // padding: unset;
        // line-height: 39px;
        // padding: 5px;
        // padding-left: auto;
        // padding-right: auto;
        // background: coral;
        text-align: center;
        min-width: 70px;
        // color: var(--color-th); //        $hcolor;
        color: $hcolor;
    }
    // background: linear-gradient(to bottom, rgb(87, 92, 104), rgb(30, 56, 55));
}

// .inpcontainer {
//     border: 1px solid grey;
//     width: 60px;
//     margin: 5px;
//     height: var(--myslider-height); // 255px;
//     margin-top: 45px;
//     // justify-content: center;
// }
// // input[type=range].range {
// // cursor: pointer;
// // width: 100px !important;
// // -webkit-appearance: none;
// // }
// input[type=range].verticalfirst {
//     appearance: slider-vertical;
//     -webkit-appearance: slider-vertical;
//     position: absolute;
//     cursor: pointer;
//     width: 100px !important;
//     -webkit-appearance: none;
//     // $hhh: var(--myslider-height);
//     height: 30px;
//     background: darkgreen;
//     // -webkit-transform: rotate(270deg);
//     // -moz-transform: rotate(270deg);
//     // -o-transform: rotate(270deg);
//     // -ms-transform: rotate(270deg);
//     // transform: rotate(90deg) translate(80px, 0px);
// }
//
.vertslidercontainer {
    display: flex;
    height: var(--myslider-height); // 255px;
    min-width: 30px;
    margin: 5px;
    margin-top: 45px;
    --brandColor: purple;
    --local-Value: 0px;
    --delta-Value: var(--myslider-delta);
    --internHeight: 130px; // --local-Value: 50px; // var(--slider-value);
    // --local-Value: var(--slider-value);
    .vertslider {
        // position: absolute;
        $rads: 6px;
        height: var(--myslider-height); // 255px;
        min-width: $rads*2;
        border: 1px solid rgb(77, 76, 76);
        border-radius: $rads;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: 45px;
        margin-left: 8px;
        // background: cornflowerblue;
        // background: rgb(31, 33, 36);
    }
    .filledslider {
        position: absolute;
        $rads: 6px;
        height: var(--localValue);
        // height: calc(var(--localValue) + var(--delta-Value)/2);
        // height: var(--internHeight); // 255px;
        min-width: $rads*2;
        border: 1px solid rgb(77, 76, 76);
        border-radius: $rads $rads 0px 0px;
        background: rgba(68, 115, 146, 0.753);
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: 45px;
        margin-left: 8px;
        z-index: 3;
        // background: cornflowerblue;
        // background: rgb(31, 33, 36);
    }
    .vertslider2 {
        position: absolute;
        $rads: 10px;
        // height: var(--myslider-height); // 255px;
        height: var(--myslider-delta); // 20px;
        min-width: $rads*3.0;
        border: 1px solid rgb(77, 76, 76);
        border-radius: $rads;
        // margin: 6px;
        margin-left: 0px;
        // margin-right: auto;
        // margin-left: -40px;
        //margin-top: calc(45px); // + var(--myslider-value));
        // margin-top: var(--myslider-value);
        margin-top: var(--localValue);
        // margin-left: -20px;
        background: rgba(128, 128, 128, 0.568);
    }
    .vertslider2:active {
        transform: scale(1.2);
        background: rgba(101, 185, 241, 0.753);
    }
}

.simplebutton {
    // background: chartreuse;
    // width: 60px;
    font-size: 20px;
    line-height: 20px;
    // padding-left: 2px;
    // padding-right: 2px;
    padding: 4px;
    height: 36px;
    white-space: nowrap;
    // text-align: right;
    // text-align: center;
    // background: linear-gradient(to bottom, rgb(0, 0, 0) 1%, rgba(250, 0, 0, 0.548), black 80%);
}

.simplebutton:active {
    transform: scale(0.95) translate(1px, 1px);
    // background: grey;
    // border: 1px solid grey;
}

.doloni {
    // background: rgba(197, 162, 116, 0.513);
    // width: 200em;
    display: none;
    color: rgb(13, 13, 15);
    margin-top: -4%;
    height: 30px;
    text-align: right;
    padding-right: 10px;
    // margin-bottom: 80px;
    z-index: 200;
    // width: 80%;
    justify-self: right;
    margin-right: 40px;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // border-radius: 0 3px 3px 0;
}

.conta2 {
    //  Custom dropdown arrow cover 
    // background: burlywood;
    // width: 200em;
    // color: rgb(13, 13, 15);
    text-align: right;
    padding-right: 15px;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // border-radius: 0 3px 3px 0;
}

 :root {
    --mypage-height: 76vh;
    // --myslider-height: 226px;
    --myslider-height: calc( var(--row-amount) *2.36 * var(--font-size));
    --myslider-delta: 16px;
    --slider-value: 66;
    // --myslider-value: calc(var(--myslider-height)*var(--value-of-slider)/100 - var(--myslider-delta)/2); //calc(var(--myslider-height)/3);
    --sli_height: calc( var(--myslider-height) - var(--myslider-delta));
    // --myslider-value: calc( (var(--myslider-height)-var(--myslider-delta))*var(--value-of-slider)/100 - var(--myslider-delta)/2);
    // --myslider-value: calc( (var(--myslider-height) - var(--myslider-delta)) *var(--value-of-slider)/100);
    --myslider-value: calc( var(--sli_height) *var(--slider-value)/100);
    --row-amount: 5;
}

.upper-container {
    @extend .container-fluid;
    // height: 55px;
    height: 35px;
    // background: blueviolet;
}

.band-popup-red {
    display: flex;
    width: 8px;
    min-height: 18px;
    background: rgb(255, 80, 80);
    margin-right: 5px;
}

.band-popup-green {
    @extend .band-popup-red;
    // min-width: 16px;
    background: rgb(65, 184, 10);
    margin-right: 5px;
    border-radius: 2px;
    text-align: center;
    padding-left: 2px;
    font-size: 14px;
    line-height: 18px;
}

// --------------------------- Запросы по высоте --------------------
// @media (min-width: 544px), (orientation: landscape) { // Стили CSS ...  }
@media (min-height:270px) {
     :root {
        --mypage-height: 80vh;
        --row-amount: 5;
    }
    // .upper-container {
    //     height: 55px;
    // }
    // .khameleonrow {
    //     display: none;
    // }
}

// @media (min-height:400px) {
//      :root {
//         --mypage-height: 72vh;
//         --row-amount: 6;
//     }
//     .khameleonrow {
//         // direction: grid-row;
//         // display: grid;
//         // div:nth-of-type(2n) {
//         //     background: violet;
//         // }
//         display: table-row;
//     }
// }
@media (min-height:550px) {
     :root {
        --mypage-height: 72vh;
        --row-amount: 7;
        .khameleonrow {
            display: table-row;
        }
    }
    // .upper-container {
    //     height: 95px;
    // }
}

@media (min-height:800px) {
     :root {
        --mypage-height: 78vh;
        --row-amount: 7;
        .khameleonrow {
            display: table-row;
        }
    }
    .nav-fluid {
        margin-top: -6vh;
    }
    // .upper-container {}
}

//
//
// --------------------------- Запросы по ширине --------------------
@media (min-width:576px) {
     :root {
        // --mypage-height: 84vh;
        // --myslider-height: 240px;
        --myslider-height: calc( var(--row-amount) *2.36 * var(--font-size));
    }
    #leftpanel {
        // display: none;
        display: block;
    }
}

@media (min-width:768px) {
     :root {
        // --myslider-height: 255px
        --myslider-height: calc( var(--row-amount) *2.36 * var(--font-size));
    }
    #leftpanel {
        display: block;
    }
}

@media (min-width:992px) {
     :root {
        // --myslider-height: 270px
        --myslider-height: calc( var(--row-amount) *2.36 * var(--font-size));
    }
    .doloni {
        display: block;
    }
}

@media (min-width:1200px) {
     :root {
        // --myslider-height: 290px;
        // --myslider-height: calc( var(--row-amount) * 48px);
        // --myslider-height: calc( var(--row-amount) *14.5/6 * var(--font-size));
        --myslider-height: calc( var(--row-amount) *2.42 * var(--font-size));
        // height: calc((1rem * var(--line-height)) + (var(--form-element-spacing-vertical) * 2) + (var(--border-width) * 2))
    }
}

// @media (min-height:800px) {
//      :root {
//         --mypage-height: 80vh
//     }
// }
// .container2 {
//     @extend .container;
// }
.mypage1 {
    // @extend .container;
    position: relative;
    // margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    // background: rgb(32, 49, 68);
    // height: 68vh;
    height: var(--mypage-height);
    width: 95vw;
    // margin-top: 0px;
    // overflow-y: scroll;
    // width: 150%;
    div {
        text-align: left;
    }
}

.mypage2 {
    // @extend .container;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    // background: rgb(32, 49, 68);
    // height: 68vh;
    height: var(--mypage-height);
    width: 95vw;
    // margin-top: 0px;
    // overflow-y: scroll;
    // width: 150%;
    div {
        text-align: left;
    }
}

.leftright {
    // background: blue;
    display: none;
    // justify-content: space-evenly;
    justify-content: center;
    align-self: center;
    // margin-left: auto;
    // margin-right: auto;
    width: 95vw;
    margin-top: 10px;
    padding: 5px;
    div {
        margin: 5px;
        min-width: 80px;
        background: rgb(32, 32, 42);
        padding: 5px;
        text-align: center;
        border-radius: 4px;
        background: linear-gradient(to bottom, rgb(0, 0, 0) 1%, rgba(250, 0, 0, 0.4), black 80%);
    }
    // div:hover {
    //     // background: linear-gradient(to bottom, rgb(2, 2, 2) 1%, rgba(231, 10, 10, 0.726), black 95%);
    // }
    div:active {
        // background: linear-gradient(to bottom, rgb(2, 2, 2) 1%, rgba(22, 4, 4, 0.726), black 95%);
        transform: translate(1px, 1px) scale(0.98);
        background: linear-gradient(to bottom, rgb(2, 2, 2) 3%, rgba(231, 10, 10, 0.466), rgb(12, 5, 5) 90%);
    }
}

// .leftright:hover {
//     background: rgb(47, 8, 16);
// }
// .container {
//     width: 100%;
//     background: red;
//     margin: 0px;
// }
.container,
.container-fluid {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    // padding-right: var(--spacing);
    // padding-left: var(--spacing)
}

.middle-container {
    @extend .container-fluid;
    // height: 300px;
    background: rgb(20, 220, 177);
}

.footer-container {
    // position: absolute;
    // background: darkgoldenrod;
    // padding: 5px;
    margin: 5px;
    padding-left: 10px;
    bottom: 5px;
}

// main {
// border: 1px solid blue;
// }
$mygreen: green;
#mainmain {
    position: relative;
    border: 1px solid $mygreen; //grey;
    // min-height: 660px;
    // min-height: 65vh;
    // min-height: calc(100vh *0.82);
    // max-width: 90vw;
    // height: calc(99vh - 50px);
    height: 78vh; //         calc(99vh - 3.5rem);
    // calc(99vh - 1.5rem);
}

.maindiv {
    background: rgba(255, 0, 0, 0.459);
    // height: 400px;
    // display: grid;
    // height: 30%;
    // grid-template-columns: 40px 1fr 0px;
    // grid-column-gap: var(--grid-spacing-horizontal);
    // column-gap: var(--grid-spacing-horizontal);
    // grid-row-gap: var(--grid-spacing-vertical);
    margin-top: 20px;
    margin-bottom: 20px;
    // flex-direction: row;
    // .bbb {
    // margin-right: auto;
    // left: 0px;
    // height: 80%;
    // }
    // .grid {
    // border: 1px solid red;
    // margin: 20px;
    // max-width: 800px;
    // margin-left: auto;
    // margin-right: auto;
    // width: 800px;
    // }
}

.bbb {
    // margin-right: auto;
    opacity: 0.2;
    // left: -80%;
    // transform: translate(-80%, 0%);
    // background: rgb(121, 12, 12);
    // background-color: red;
    border: 1px solid rgb(99, 99, 107);
    border-radius: 5px;
    transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
}

.bbb:hover {
    transform: translate(-15%, 0%);
    opacity: 1.0;
    // -webkit-transform: scale(1.05);
    // -moz-transform: scale(1.05);
    // -o-transform: scale(1.05);
}

.infobottom {
    background: blue;
    bottom: 10px;
}